/* style changes to title */
h1 {
    color: #656565
}

/* style changes to important topics in meeting */
h2 {
    color: rgb(177, 156, 217);
}


/* style changes to meeting topic and date */
h3{
    color: lightgrey
}

/* style changes to navigation bar */
.navigation{
    color: hsl(195, 53, 79);
}
