/* responsiveness changes for small screen */
@media screen and (max-width: 600px) {
    
}

/* responsiveness changes for tablet or smaller laptop */
@media screen and (min-width: 601px) and (max-width:1000px) {
    /* change introduction width */
    #entire-intro{
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 20px;
    
        padding: 12px 12px 12px 12px;
        margin: 1px 1px 1px 1px;
    
        max-width: 700px;
        max-height: 650px;
    }

}

/* responsiveness changes for desktop */
@media  screen and (min-width: 1001px) and (max-width:2500px) {
    
}


/* style changes to title */
h1 {
    color: #656565;
    background-color: rgb(95, 158, 160);

    font-size: 3em;
    width: 11em;

    text-align: center;

    position: sticky;
    top: 5px;
}

/* style changes to important topics in meeting */
h2 {
    color: rgb(177, 156, 217);
    background-color: lightgrey;

    width: 21rem;

    text-align: center;
}

/* style changes to meeting topic and date */
h3{
    color: lightgrey;
}

/* style changes to topic class */
.topic{
    color: hsl(182, 25%, 50%);
    background-color: rgb(230, 230, 250);

    width: 16rem;

    text-align: center;
}

/* style change to last topic */
#unique{
    color: black; /* use wider gamut color on this */

    font-size: 0.5in;
}

/* style changes to form */
form{
    width: 40px;
}

/* style changes to meme picture */
#last-picture{
    width: 12cm;

    margin-bottom: 20px;
    margin-top: -10px;
}

/* style changes to introduction paragraph */
.introduction{
    font-size: 1lh;
    text-decoration: underline;

    display: block;

    position: static;
}

/* style changes to navigation bar */
a[href="https://r.mtdv.me/"]{
    font-size: 1.5em;
}

/* styles the agenda */
#agenda{
    font-size: 1.5em;
}

/* when hovering over navgation bar, element will change color */
a:hover{
    color:black;
}

/* styles my entire introduction */
#entire-intro{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;

    padding: 15px 15px 15px 15px;
    margin: 1px 1px 1px 1px;

    width: 800px;
    height: 600px;
}

/* styles the entire relevant images section */
#relevant{
    border: 2px solid lightgray;
    border-radius: 30px;
    
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;

    display: grid;
}

b, strong {
    color: hsl(182, 25%, 50%);
}

/* styles attendance list section */
#attendance{
    display: grid;
    align-self: start;
    grid-auto-columns: 150px;
    place-self: center;
    row-gap: 15px;
    column-gap: 10px;
}

/* styles questions/comments/concerns section */
#questions{
    display: inline-block;
}

/* styles the footer */
#footer{
    width: 400px;
    height: 200px;

    max-width: 60%;
    min-height: 40%;

}

/* will change the words in a button to yellow when hovering over it */
button:hover{
    color: yellow;
}

button:active{
    box-shadow: 2px 2px 5px black;
}

#last-button{
    font-size:40px;
}

/* styles flex container */
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}

