

/* style changes to title */
h1 {
    color: #656565;
    background-color: rgb(95, 158, 160);

    font-size: 3em;
    width: 11em;

    text-align: center;
}

/* style changes to important topics in meeting */
h2 {
    color: rgb(177, 156, 217);
    background-color: lightgrey;

    width: 21rem;

    text-align: center;
}

/* style changes to meeting topic and date */
h3{
    color: lightgrey;
}

/* style changes to topic class */
.topic{
    color: hsl(182, 25%, 50%);
    background-color: rgb(230, 230, 250);

    width: 16rem;

    text-align: center;
}

/* style change to last topic */
#unique{
    color: black; /* use wider gamut color on this */

    font-size: 0.5in;
}

/* style changes to form */
form{
    width: 40px;
}

/* style changes to meme picture */
#last-picture{
    width: 12cm;
}

/* style changes to introduction paragraph */
.introduction{
    font-size: 1lh;
    text-decoration: underline;
}

/* style changes to navigation bar */
a[href="https://r.mtdv.me/"]{
    font-size: 1.5em;
}

/* styles the agenda */
#agenda{
    font-size: 1.5em;
}

/* when hovering over navgation bar, element will change color */
a:hover{
    color:black;
}

/* styles my entire introduction */
#entire-intro{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;

    padding: 15px 15px 15px 15px;
    margin: 1px 1px 1px 1px;

    width: 800px;
}

/* styles the entire relevant images section */
#relevant{
    border: 2px solid lightgray;
    border-radius: 30px;
    
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
}
